@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<input type="hidden" id="userId" value=""/>

<div class="container">

    <div class="row">
        <h4 id="boasVindas">
            Olá @Model.UsuarioLogado, <span id="quantity">@Model.Usuarios.Count()</span> usuários online nos últimos 5 minutos!
        </h4>
    </div>

    <div class="row">
        <ul id="usersOnline" class="list-group list-group-flush">
            @foreach (var usuario in Model.Usuarios)
            {
                <li class="list-group-item">
                    <b>@usuario.Nome</b> online às <b>@usuario.VistoPorUltimoStr</b>
                </li>
            }
        </ul>
    </div>

    <hr/>

    <div class="row">
        <div class="col-4">
            <input type="button" id="estouOnline" class="btn btn-primary" value="Estou online!"/>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/home.js"></script>
}
