@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" id="userId"/>

<div class="container">
    <div class="row">
        <h4>
            <span id="quantity">0</span> users online!
        </h4>
    </div>

    <div class="row">
        <ul id="usersOnline" class="list-group list-group-flush"></ul>
    </div>

    <hr />

    <input type="button" id="estouOnline" class="btn btn-primary" value="Estou online!" />
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/home.js"></script>
}
