@{
    ViewData["Title"] = "Home";
}

<input type="hidden" id="userId" value=""/>

<div class="container">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" class="form-control" />
    </div>

    <input type="button" id="criarRegistro" class="btn btn-primary" value="Criar Instancia" />

    <hr />

    <div class="row">
        <h4 id="boasVindas">
            <span id="quantity">0</span> usuários online!
        </h4>
    </div>

    <div class="row">
        <ul id="usersOnline" class="list-group list-group-flush"></ul>
    </div>

    <hr />

    <div class="row">
        <div class="col-4">
            <input type="button" id="estouOnline" class="btn btn-primary" value="Estou online!" />
        </div>
        <div class="col-4">
            <input type="button" id="atualizarLista" class="btn btn-primary" value="Atualizar lista" />
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/home.js"></script>
}
