@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h4>
        <span id="quantity">0</span> people was here!
    </h4>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/home.js"></script>
